SEQUENCE_ID=prinia_template
SEQUENCE_TEMPLATE={{ seq }}
SEQUENCE_TARGET={{ target }}
SEQUENCE_EXCLUDED_REGION={{ excluded_region }}
PRIMER_TASK=pick_detection_primers
PRIMER_PICK_LEFT_PRIMER=1
PRIMER_PICK_INTERNAL_OLIGO=0
PRIMER_PICK_RIGHT_PRIMER=1
PRIMER_MIN_GC={{ settings.primer_min_gc }}
PRIMER_INTERNAL_MIN_GC={{ settings.primer_internal_min_gc }}
PRIMER_OPT_GC_PERCENT={{ settings.primer_opt_gc_percent }}
PRIMER_MAX_GC={{ settings.primer_max_gc }}
PRIMER_INTERNAL_MAX_GC={{ settings.primer_internal_max_gc }}
PRIMER_WT_GC_PERCENT_LT={{ settings.primer_wt_gc_percent_lt }}
PRIMER_INTERNAL_WT_GC_PERCENT_LT={{ settings.primer_internal_wt_gc_percent_lt }}
PRIMER_WT_GC_PERCENT_GT={{ settings.primer_wt_gc_percent_gt }}
PRIMER_INTERNAL_WT_GC_PERCENT_GT={{ settings.primer_internal_wt_gc_percent_gt }}
PRIMER_GC_CLAMP={{ settings.primer_gc_clamp }}
PRIMER_MAX_END_GC={{ settings.primer_max_end_gc }}
PRIMER_OPT_SIZE={{ settings.primer_opt_size }}
PRIMER_MIN_SIZE={{ settings.primer_min_size }}
PRIMER_MAX_SIZE={{ settings.primer_max_size }}
PRIMER_MAX_NS_ACCEPTED={{ settings.primer_max_ns_accepted }}
PRIMER_PRODUCT_SIZE_RANGE={{ settings.primer_product_size_range }}
PRIMER_PRODUCT_OPT_SIZE={{ settings.primer_product_opt_size }}
PRIMER_PAIR_WT_PRODUCT_SIZE_GT={{ settings.primer_pair_wt_product_size_gt }}
PRIMER_PAIR_WT_PRODUCT_SIZE_LT={{ settings.primer_pair_wt_product_size_gt }}
P3_FILE_FLAG=1
SEQUENCE_INTERNAL_EXCLUDED_REGION=37,21
PRIMER_EXPLAIN_FLAG=1
PRIMER_MIN_TM={{ settings.primer_min_tm }}
PRIMER_MAX_TM={{ settings.primer_max_tm }}
PRIMER_NUM_RETURN={{ settings.primer_num_return }}